  body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Courier New', Courier, monospace;
    transition: background 0.3s, color 0.3s;
  }
  
  .terminal {
    margin: 20px;
  }

  .input-line {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
  }
  
  .prompt-symbol {
    color: var(--fg);
    padding-right: 5px;
    font-family: inherit;
  }
  
  textarea {
    flex: 1;
    background: var(--bg);
    color: var(--fg);
    border: none;
    font-family: inherit;
    font-size: 1em;
    resize: none;
    outline: none;
    line-height: 1.4em;
    overflow: hidden;
    padding: 0;
    height: auto;
    min-height: 1.4em;
    box-sizing: content-box;
  }
  
  button {
    margin-top: 10px;
    background: var(--bg);
    color: var(--fg);
    border: 1px solid var(--fg);
    padding: 10px 20px;
    cursor: pointer;
  }

  .themebtn {
    margin-top: 10px;
    background: var(--bg);
    color: var(--fg);
    border: 1px solid var(--bg);
    padding: 10px 20px;
    cursor: pointer;
  }

  #summary {
    white-space: pre-wrap;
    border-top: 1px solid var(--fg);
    margin-top: 20px;
    padding-top: 10px;
    line-break: anywhere;
  }

  .progress-bar {
    margin-top: 20px;
    font-family: inherit;
  }

  #output {
    color: var(--fg);
    line-height: 1.4em;
    line-break: anywhere;
  }
  
  /*theme picker*/
  :root {
    --bg: #0C0C0C;
    --fg: #CCCCCC;
  }

  body.light-theme {
    --bg: #f4f4f4;
    --fg: #222;
  }
